<!DOCTYPE html>

{% load static %}

<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="{% static 'data_loader/css/style.css' %}" type="text/css" media="screen" />
	<script src="{% static 'data_loader/js/jquery-1.12.2.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'data_loader/js/reconnecting-websocket.min.js' %}" type="text/javascript"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'data_loader/js/fileupload.js' %}"></script>

	{% block extra_head %}{% endblock %}
</head>
<body>
	<header>
		<div class="header_text">
			<h1>{% block header_text %}{% endblock %}</h1>
			{% if user.is_authenticated %}
				<a href="/api/auth/newlogin/logout" id="logout">logout</a><br><br>
			{% endif %}
		</div>
	</header>
	<section>
		{% block content %}

		{% endblock %}
	</section>
	{% block extra_body %}{% endblock %}
</body>
</html>
