{% extends "data_loader/base.html" %}

{% block title %}data loader page{% endblock %}
{% block header_text %}data loader page

{% endblock %}

{% block content %}
    {% load staticfiles %}

    <input type="hidden" id="in1" value="{{embed_token}}">
    <input type="hidden" id="in2" value="{{embed_url}}">
    <input type="hidden" id="in3" value="{{report_id}}">
    <form id="form1" enctype="multipart/form-data" method="post" action="upload.php">
        <div class="row">
            <label for="fileToUpload">Select a File to Upload</label><br />
            <input type="file" name="fileToUpload" id="fileToUpload" onchange="fileSelected();"/>
            <input type="button" value="cancel upload"  onClick="uploadCanceled();"/>
        </div>
        <div id="fileName"></div>
        <div id="fileSize"></div>
        <div id="fileType"></div>
        <div class="row">
            <input type="button" onclick="sendRequest();" value="Upload" />
        </div>
        <div id="progressNumber"></div><br><br>
        <a href="/data_loader/homepage"> Home Page</a>

        <div id="reportContainer"></div>
    </form>

<head>
    <script src="{% static 'embedPowerBi/js/powerbi.js' %}"></script>
	<script type="text/javascript" src="{% static 'embedPowerBi/js/embed.js' %}"></script>
</head>

{% endblock %}

{% block afterbody %}

{% endblock afterbody %}

{% block extra_body %}

{% endblock %}
