{% extends "data_loader/base.html" %}

{% block title %}PowerBi Dashboard{% endblock %}
{% block header_text %}PowerBi Dashboard{% endblock %}

{% block content %}
    {% load staticfiles %}

    <input type="hidden" id="in1" value="{{embed_token}}">
    <input type="hidden" id="in2" value="{{embed_url}}">
    <input type="hidden" id="in3" value="{{report_id}}">

    <div id="reportContainer"></div>

<head>
    <script src="{% static 'embedPowerBi/js/powerbi.js' %}"></script>
	<script type="text/javascript" src="{% static 'embedPowerBi/js/embed.js' %}"></script>
</head>

{% endblock %}

{% block afterbody %}

{% endblock afterbody %}

{% block extra_body %}

{% endblock %}
