<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
{{error}}
<h1><b style="color:green">Successfully done.</b></h1><br><br>
<a href="/api/auth/newlogin/logout" id="logout">logout</a><br><br>
<a href="/api/auth/newlogin/user_management" id="user_management">manage user</a><br><br>
<a href="/data_loader/load_data" id="data_loader">data loader</a><br><br>
<a href="/data_loader/powerBI" id = "powerBI">PowerBi Dashboard</a>
</body>
</html>