<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>forgot password</title>
</head>
<body>
    <p style="color:Tomato"> {{reset_status}}</p>
    <p style="color:Tomato"> {{error}}</p>
    <form name="forgot_pass" method="post"  onsubmit="return checkForm(this);">
        {% csrf_token %}
       enter your registered mail id: <input id="forgot_email" name="forgot_email">
    <br><br>
    <button id="submit" name="submit">submit</button>
    </form><br><br>
    <a href="/api/auth/newlogin/login" id ="login">Sign in</a>
    <script type="text/javascript">

  function checkForm(form)
  {
    if(form.forgot_email.value == "") {
      alert("Error: email field cannot be blank!");
      form.forgot_email.focus();
      return false;
    }else{
        alert("Success:email successfully entered")
        return true;
    }
  }

    </script>
</body>
</html>