<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>login page</title>
</head>
<body>
    <p style="color:Tomato">{{error}}</p>
    <form name="loginform" method="post" onsubmit="return checkForm(this);">
        Email id: <input id="email" name = "email"><br><br>
        Password: <input type="password" name="pass" id="password">
        <br><br><br>
        <button id ="submit" name="submit" value="submit">login</button>
    </form>
    <br><a href="/forgot_password" name="forgot_password">forgot password?</a>
    <br><br>new user <a href="/api/auth/newlogin/registration" id="newuser">click here</a>
</body>
     <script type="text/javascript">
        function checkForm(form)
        {
            if(form.email.value == "" || form.pass.value == "") {
                alert("Error: either any of the fields cannot be blank!");
                form.email.focus();
                return false;
            }
        }

    </script>
</html>