<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sign up page</title>
</head>
<body>
<b><p style="color:Tomato;"> {{error}}</p></b>
    <form method="post" onsubmit="return checkForm(this);">
        {% csrf_token %}
        <p><b>Please register yourself</b></p>
        email id: <input type="text" id="email" name="email" ><br><br>
        password: <input type="text" id="newpass" name="newpass"><br><br>
        confirm password: <input type="text" id="confirmpass" name="confirmpass"><br><br>
        mobile number: <input type="text" id="mobile" name="mobile">
        <br><br>
        <button type="submit" id="register" name="register">register</button>
        <br><br>
        <a href="/api/auth/newlogin/login" id="signin" name="signin">sign in</a>
    </form>
    <script type="text/javascript">
        function checkForm(form)
        {
            if(form.email.value == "" || form.newpass.value == "" || form.confirmpass.value == "" || form.mobile.value == "") {
                alert("Error: either any of the fields cannot be blank!");
                form.email.focus();
                return false;
            }else if(form.newpass.value == form.confirmpass.value){
                alert("Success:email successfully entered")
                return true;
            }else{
                alert("Error: both password fields are not matching.");
            }
        }


    </script>
</body>
</html>