<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Management Page</title>
    {% load static %}
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js"></script>
</head>
<body>

    <div style='float: right;'><b text style="color:green"><a href="/logout" id="logout">logout</a></b></div><br>
    <h1 text style="color:Tomato">Data Table</h1>
    <div id ="myTable">
        <table id = "table1"></table>
    </div>
    <br><br><br>
    <form name="user_management" method="post" onsubmit="return checkForm(this);" action="adduser">
        {% csrf_token %}
        firstname: <input name="firstname"><br><br>
        lastname:  <input name="lastname"><br><br>
        Email Id:  <input name="emailid"><br><br>
        role: <input name="role"><br><br>
        <button type="submit">Add User</button>
    </form>
    <p style="color:Tomato"> {{error}}</p>
</body>
 <script type="text/javascript">
        function checkForm(form)
        {
            if(form.firstname.value == "" || form.lastname.value == "" || form.role.value == "") {
                alert("Error: either any of the fields cannot be blank!");
                form.firstname.focus();
                return false;
            }else {
                alert("successfully entered")
                return true;
            }
        }


    </script>
</html>