/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    height:100%
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: sans-serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Header */

header {
    padding-top:20px;
    background: #5778C4;
    color: #fff;
}
    header h1 {
        width: 800px;
        margin: 0 auto;
        font-size: 40px;
    }
    header a {
        position: absolute;
        top: 10px;
        right: 20px;
        color: #fff;
    }

/* Body */
#chat-div {
    padding:15px;
    width: 800px;
    float:left;
}

#user-list{
    width:calc(100% - 850px);
    float:right;
}

#user-list li{
    padding:7px 12px;
    background:#abffcc;
    border:1px solid #333;
    display:inline-block;
}

li {
    margin: 1em 0 2em 0;
}

.empty {
    color: #666;
    font-style: italic;
}

.rooms li {
    padding: 5px 7px;
    background: #def;
    display: inline;
    margin: 5px 2px;
    border: 1px solid #bcd;
    border-radius: 2px;
    cursor: pointer;
}
    .rooms li.joined {
        background: #5898D9;
        border: 1px solid #35485C;
    }

#chats {
}
    #chats .room {
        border: 1px solid #ccc;
        padding: 5px;
        margin: 30px 0 0 0;
    }
    #chats h2 {
        color: #333;
        margin: 2px 0 5px 0;
        font-weight: bold;
    }
    #chats .messages {
        height: 200px;
        overflow: auto;
        background: #eee;
        margin: 2px 0 5px 0;
    }
    #chats .username {
        display: inline-block;
        color: #C07A36;
        width: 100px;
        font-weight: bold;
    }
    #chats .contextual-message{
        text-align: center;
        margin: 5px 5px 5px 5px;
    }
    #chats .text-muted {
        opacity: .6;
        font-style: italic;
    }
    #chats .text-danger {
        color: #a94442;
        font-weight: bold;
    }
    #chats .text-warning {
        color: #DCAD5C;
        font-weight: bold;
        font-style: italic;
    }








    .users li {
    padding: 5px 7px;
    background: #def;
    display: inline;
    margin: 5px 2px;
    border: 1px solid #bcd;
    border-radius: 2px;
    cursor: pointer;
}
    .users li.joined {
        background: #5898D9;
        border: 1px solid #35485C;
    }

#users {
}
    #users .user {
        border: 1px solid #ccc;
        padding: 5px;
        margin: 30px 0 0 0;
    }
    #users h2 {
        color: #333;
        margin: 2px 0 5px 0;
        font-weight: bold;
    }
    #users .messages {
        height: 200px;
        overflow: auto;
        background: #eee;
        margin: 2px 0 5px 0;
    }
    #users .username {
        display: inline-block;
        color: #C07A36;
        width: 100px;
        font-weight: bold;
    }
    #users .contextual-message{
        text-align: center;
        margin: 5px 5px 5px 5px;
    }
    #users .text-muted {
        opacity: .6;
        font-style: italic;
    }
    #users .text-danger {
        color: #a94442;
        font-weight: bold;
    }
    #users .text-warning {
        color: #DCAD5C;
        font-weight: bold;
        font-style: italic;
    }

    #reportContainer {
        height:100%;
    }


    
